<p>
Calendar :<br>
    <form method="POST" action="http://ade.wallforfry.fr/api/ade-esiee/calendar">
        <label>Username : <input type="text" name="username"/></label>
        <label>Password : <input type="password" name="password"/></label>
        <label>Day : <input type="text" name="day"></label>
        <label>Month : <input type="text" name="month"></label>
        <input type="submit">
    </form>
</p>
<p>
Marks :<br>
<form method="POST" action="http://ade.wallforfry.fr/api/ade-esiee/marks">
    <label>Username : <input type="text" name="username"/></label>
    <label>Password : <input type="password" name="password"/></label>
    <input type="submit">
</form>
</p>
<p>
Absences :<br>
<form method="POST" action="http://ade.wallforfry.fr/api/ade-esiee/absences">
    <label>Username : <input type="text" name="username"/></label>
    <label>Password : <input type="password" name="password"/></label>
    <input type="submit">
</form>
</p>
<p>
Appreciations :<br>
<form method="POST" action="http://ade.wallforfry.fr/api/ade-esiee/appreciations">
    <label>Username : <input type="text" name="username"/></label>
    <label>Password : <input type="password" name="password"/></label>
    <input type="submit">
</form>
</p>