<p>
Calendar :<br>
    <form method="POST" action="/api/ade-esiee/calendar">
        <label>Username : <input type="text" name="username"/></label>
        <label>Password : <input type="password" name="password"/></label>
        <label>Day : <input type="text" name="day"></label>
        <label>Month : <input type="text" name="month"></label>
        <input type="submit">
    </form>
</p>
<p>
Marks :<br>
<form method="POST" action="/api/ade-esiee/marks">
    <label>Username : <input type="text" name="username"/></label>
    <label>Password : <input type="password" name="password"/></label>
    <input type="submit">
</form>
</p>
<p>
Absences :<br>
<form method="POST" action="/api/ade-esiee/absences">
    <label>Username : <input type="text" name="username"/></label>
    <label>Password : <input type="password" name="password"/></label>
    <input type="submit">
</form>
</p>
<p>
Appreciations :<br>
<form method="POST" action="/api/ade-esiee/appreciations">
    <label>Username : <input type="text" name="username"/></label>
    <label>Password : <input type="password" name="password"/></label>
    <input type="submit">
</form>
Groups :<br>
<form method="POST" action="/api/ade-esiee/groups">
    <label>Username : <input type="text" name="username"/></label>
    <label>Password : <input type="password" name="password"/></label>
    <input type="submit">
</form>
Agenda From Groups :<br>
<form method="POST" action="/api/ade-esiee/agendaFromGroups">
    <label>Groups : <input type="textarea" name="groups"/></label>
    <input type="submit">
</form>
Agenda :<br>
<form method="POST" action="/api/ade-esiee/agenda">
    <label>Mail ESIEE : <input type="textarea" name="mail"/></label>
    <input type="submit">
</form>
</p>